/* Space out content a bit */
body {
  font-family: 'Sansita', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h2 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

.header h2 a {
  text-decoration: none;
}

ul li {
  font-size: 1.1em;
}

nav ul li {
  border-radius: 5px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }

}
.container-narrow > hr {
  margin: 30px 0;
}

/* Reciper container */

.recipeContainer {

  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  padding-left: 15px;
  padding-right: 15px;
}

.tabs {
  margin-bottom: -15px;
  text-align: center;
}

.tabs li:hover {
  cursor: pointer;
}

.tabs li {
  border-radius: 5px;
  display: inline-block;
  margin: 3px 0;
  padding: 8px 10px;
  font-size: 1.2em;
}

li.active {
  background-color: #ddd;
}

.panel {
  display: none;
}

.panel.active img {
  border-radius: 15px;
}

div.active {
  display: inline;
}

.dirMaxWidth {
  max-width: 700px;
}

.recDiv {
border-bottom: 1px solid #e5e5e5;
max-width: 700px;
}

.fb-share-button {
  margin: 2px 0 10px 4px;
}


/* My Cookbook */
.save {
  background-color: #EAEBE8;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 4px 8px;
}

.save:focus {
  outline: none;
}

.delete {
  background-color: #E86A6D;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 4px 8px;
}

.delete:focus {
  outline: none;
}


#cookbook {
  margin-bottom: 0;
  text-align: center;
}

button a {
  color: black;
}

button a:hover {
  color: black;
  text-decoration: none;
}

.myImg {
  margin-top: 3px;
}

.notes {
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  margin-left: 7px;
  margin-bottom: 3px;
  padding-left: 5px;
  padding-top: 3px;
  resize: none;
  width: 70%;
}

.noteEdit {
  background-color: #EDF1F2;
  border: 1px dashed black;
}

.notes:focus {
  outline: none;
}

.saveNote {
  background-color: #EAEBE8;
  border-radius: 3px;
  float: left;
  margin: 0 0 5px 10px;
}

.saveNote:focus {
  outline: none;
}

.edit {
  background-color: #337ab7;
  color: white;
}

h3.browse {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

#browse:hover {
  text-decoration: none;
}

/* Login Area */

.loginArea {
  margin: 10px;
  text-align: center;
}

.loginArea label {
  margin: 5px;
  text-align: right;
  width: 70px;
}

.loginArea input {
  width: 120px;
}

.loginArea input:focus {
  outline-style: solid;
  outline-width: thin;
}

.loginArea .submitButton {
  margin-top: 15px;
  margin-bottom: 10px;
  width: 70px;
}

/* Signup Area */

.signupArea {
  margin: 10px;
  text-align: center;
}

.signupArea label {
  margin: 5px;
  text-align: right;
  width: 120px;
}

.signupArea input {
  width: 120px;
}

.signupArea input:focus {
  outline-style: solid;
  outline-width: thin;
}

.signupArea .submitButton {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 70px;
}

/* Added recipes as they show in the cookbook */

.userAdded {
  resize: none;
  height: 70px;
  width: 50%;
}

.userAdded:focus {
  outline: none;
}

.userSaveNote {
  background-color: #EAEBE8;
  border-radius: 3px;
  float: left;
  margin: 0 0 5px 10px;
}

.userSaveNote:focus {
  outline: none;
}

.userSaveNote.edit {
  background-color: #337ab7;
  color: white;
}

/* Add Recipe Area */

.addRecipeArea {
  margin: 10px;
  text-align: center;
}

.addRecipeArea label {
  margin: 5px;
}

.addRecipeArea input {
  width: 150px;
}

.addRecipeArea .addRecInput {
  height: 70px;
  resize: none;
  width: 80%;
}


.addRecipeArea input:focus {
  outline-style: solid;
  outline-width: thin;
}

.addRecipeArea .submitButton {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 70px;
}


/* Main marketing message and sign up button */
.myJumbotron {
  background: url(../img/pasta.jpg) no-repeat right bottom;
  background-size: cover;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-top: 40px;
  text-align: center;
}

.myJumbotron .btn {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-background h1 {
  margin-left: 10%;
  margin-right: 5%;
  text-align: left;
}

.text-background h1 span {
  font-size: .5em;
}

/* Supporting marketing content */
.marketing {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 730px;
  text-align: center;
}
.marketing p + h3 {
  margin-top: 28px;
}

.footerLink {
  color: black;
}

.footerLink:hover {
  text-decoration: none;
}

/* Accordion CSS */

h2.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px 12px 8px 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin: 3px 1px 3px 1px;
}

h2.accordion.active, h2.accordion:hover {
  background-color: #ddd;
}

div.accPanel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/* Viewport IE10 hack */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

